body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}

.container {
  margin-top: 20px;
}

input.form-control {
  width: 100%;
  max-width: 500px; /* Optional: Limit the maximum width */
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.table {
  background-color: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
